@model Project

<h2>@ViewData["Title"]</h2>

<form asp-controller="Project" asp-action="InputDone" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <fieldset class="form-border">
        <legend class="form-border">Демінералізація методом зворотнього осмосу (електропровідність на виході  < 30 мкСм/см)</legend>
        <div class="form-group">
           <div class="col-md-3">
                <input asp-for="OptionsROUFOn" class="control-checkbox" />
                <label asp-for="OptionsROUFOn" class="control-label">Ультрафільтрація</label>
                <span asp-validation-for="OptionsROUFOn" class="text-danger"></span>
            </div>
            <label asp-for="OptionsROUFPermeate" class="col-md-2 control-label">Вихід по перміату</label>
            <div class="col-md-1">
                <input asp-for="OptionsROUFPermeate" class="form-control" />
                <span asp-validation-for="OptionsROUFPermeate" class="text-danger"></span>
            </div>
            <label asp-for="OptionsROUFProductivity" class="col-md-3 control-label">Продуктивність, м3/год</label>
            <div class="col-md-1">
                <input asp-for="OptionsROUFProductivity" class="form-control" />
                <span asp-validation-for="OptionsROUFProductivity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <input asp-for="OptionsROROOn" class="control-checkbox" />
                <label asp-for="OptionsROROOn" class="control-label">Зворотній осмос</label>
                <span asp-validation-for="OptionsROROOn" class="text-danger"></span>
            </div>
            <label asp-for="OptionsROROPermeate" class="col-md-2 control-label">Вихід по перміату</label>
            <div class="col-md-1">
                <input asp-for="OptionsROROPermeate" class="form-control" />
                <span asp-validation-for="OptionsROROPermeate" class="text-danger"></span>
            </div>
            <label asp-for="OptionsROROProductivity" class="col-md-3 control-label">Продуктивність, м3/год</label>
            <div class="col-md-1">
                <input asp-for="OptionsROROProductivity" class="form-control" />
                <span asp-validation-for="OptionsROROProductivity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <input asp-for="OptionsROIXOn" class="control-checkbox" />
                <label asp-for="OptionsROIXOn" class="control-label">Іонний обмін (ІІ ст)</label>
                <span asp-validation-for="OptionsROIXOn" class="text-danger"></span>
            </div>
            <label asp-for="OptionsROIXPermeate" class="col-md-2 control-label">Вихід по перміату</label>
            <div class="col-md-1">
                <input asp-for="OptionsROIXPermeate" class="form-control" />
                <span asp-validation-for="OptionsROIXPermeate" class="text-danger"></span>
            </div>
            <label asp-for="OptionsROIXProductivity" class="col-md-3 control-label">Продуктивність, м3/год</label>
            <div class="col-md-1">
                <input asp-for="OptionsROIXProductivity" class="form-control" />
                <span asp-validation-for="OptionsROIXProductivity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <input asp-for="OptionsROEditOn" class="control-checkbox" />
                <label asp-for="OptionsROEditOn" class="control-label">Авто</label>
                <span asp-validation-for="OptionsROEditOn" class="text-danger"></span>
            </div>
        </div>
   </fieldset>

    <fieldset class="form-border">
        <legend class="form-border">Пом'якшення шляхом іонного обміну (електропровідність на виході &gt; 30 мкСм/см)</legend>
        <div class="form-group">
            <div class="col-md-3">
                <input asp-for="OptionsIXUFOn" class="control-checkbox" />
                <label asp-for="OptionsIXUFOn" class="control-label">Ультрафільтрація</label>
                <span asp-validation-for="OptionsIXUFOn" class="text-danger"></span>
            </div>
            <label asp-for="OptionsIXUFPermeate" class="col-md-2 control-label">Вихід по перміату</label>
            <div class="col-md-1">
                <input asp-for="OptionsIXUFPermeate" class="form-control" />
                <span asp-validation-for="OptionsIXUFPermeate" class="text-danger"></span>
            </div>
            <label asp-for="OptionsIXUFProductivity" class="col-md-3 control-label">Продуктивність, м3/год</label>
            <div class="col-md-1">
                <input asp-for="OptionsIXUFProductivity" class="form-control" />
                <span asp-validation-for="OptionsIXUFProductivity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <input asp-for="OptionsROROOn" class="control-checkbox" />
                <label asp-for="OptionsROROOn" class="control-label">Іонний обмін (І ст)</label>
                <span asp-validation-for="OptionsROROOn" class="text-danger"></span>
            </div>
            <label asp-for="OptionsIXIX1Permeate" class="col-md-2 control-label">Вихід по перміату</label>
            <div class="col-md-1">
                <input asp-for="OptionsIXIX1Permeate" class="form-control" />
                <span asp-validation-for="OptionsIXIX1Permeate" class="text-danger"></span>
            </div>
            <label asp-for="OptionsIXIX1Productivity" class="col-md-3 control-label">Продуктивність, м3/год</label>
            <div class="col-md-1">
                <input asp-for="OptionsIXIX1Productivity" class="form-control" />
                <span asp-validation-for="OptionsIXIX1Productivity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <input asp-for="OptionsROIXOn" class="control-checkbox" />
                <label asp-for="OptionsROIXOn" class="control-label">Іонний обмін (ІІ ст)</label>
                <span asp-validation-for="OptionsROIXOn" class="text-danger"></span>
            </div>
            <label asp-for="OptionsIXIX2Permeate" class="col-md-2 control-label">Вихід по перміату</label>
            <div class="col-md-1">
                <input asp-for="OptionsIXIX2Permeate" class="form-control" />
                <span asp-validation-for="OptionsIXIX2Permeate" class="text-danger"></span>
            </div>
            <label asp-for="OptionsIXIX2Productivity" class="col-md-3 control-label">Продуктивність, м3/год</label>
            <div class="col-md-1">
                <input asp-for="OptionsIXIX2Productivity" class="form-control" />
                <span asp-validation-for="OptionsIXIX2Productivity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <input asp-for="OptionsIXEditOn" class="control-checkbox" />
                <label asp-for="OptionsIXEditOn" class="control-label">Авто</label>
                <span asp-validation-for="OptionsIXEditOn" class="text-danger"></span>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-default">Зберегти</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
