@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Проект</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Новий проект</a></li>
            <li><a asp-controller="Home" asp-action="Index">Відкрити проект</a></li>
            <li><a asp-controller="Home" asp-action="Index">Зберегти проект</a></li>
            <li><a asp-controller="Home" asp-action="Index">Зберегти проект як...</a></li>
        </ul>
    </div>
</div>
